.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
}

.white{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:white;
 float:left;
}
 
.black{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:#787878;
 float:left;
}

img {
 margin-left: 5px;
 margin-top:10px;
 }

a{
  margin-left: 5px;
 margin-top:10px;
}

body {
 background-image:url("https://static.vecteezy.com/system/resources/previews/001/875/437/original/light-purple-background-with-small-and-big-stars-vector.jpg");
}

#container {
 margin-top:20%;
 margin-left:25%;
 margin-right:20em;
 margin-bottom:10%;
}

#clear{
  clear: both;
}

#footer {
 border:solid 1px;
 padding: 10px;
 margin:10px;
  text-align: center;
  background-color:lightyellow;
}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:lightyellow;
 text-align:center; 
 z-index:10;
 font-family: 'CursiveSerifBook';
 font-weight: normal; 
 font-style: normal; 
 font-size:36px;
}